.container {
  position: relative;
  .content {
    height: 100px;
    filter: contrast(20);
    background-color: white;
    overflow: hidden;
    .filter {
      filter: blur(10px);
      height: 100px;
      background: radial-gradient(circle at 50% -10px, transparent 39px, #000 40px, #000);
    }
  }
}
